:root {
  --primary: hsl(260, 68%, 47%);

  --primary-500: rgba(94, 39, 201, 0.5);
  --primary-300: rgba(94, 39, 201, 0.3);
  --primary-100: rgba(94, 39, 201, 0.1);
  --secondary: rgb(68, 203, 134);
  --secondary-hover: rgb(57, 170, 112);
  --black: rgb(40, 46, 51);
  --black-500: rgba(40, 46, 51, 0.5);
  --black-300: rgba(40, 46, 51, 0.3);
  --black-100: rgba(40, 46, 51, 0.1);
  --white: #fff;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  --transition: all 0.3s linear;
  --grey: #7d899b;
  --grey-5: hsl(210, 22%, 49%);
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --tab-color:#cebeef;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, */
  /* Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  background: var(--primary) !important;
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none !important;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

// classes
#home-body {
  @media screen and (max-width: 768px) {
    background: var(--white) !important;
    nav {
      .main-logo {
        background: var(--primary) !important;
        color: var(--white) !important;
      }
      svg {
        color: var(--black) !important;
      }
    }
  }
}
.color-primary {
  color: var(--primary) !important;
}

.btn {
  border-radius: var(--radius) !important;
  color: var(--white) !important;
  text-transform: capitalize;
  position: relative;
  box-shadow: none !important;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border: 1px solid;
    border-radius: var(--radius);
    transition: all 0.2s linear;
  }
  &.btn-transparent {
    background: none !important;
    color: var(--black) !important;
    &:before {
      border-color: transparent;
    }
  }
  &.btn-green {
    background: var(--secondary) !important;
    &::before {
      border-color: var(--secondary);
    }
  }
  &.btn-black {
    background: var(--black) !important;
    &::before {
      border-color: var(--black);
    }
  }
  &.btn-purple {
    background: var(--primary) !important;
    &::before {
      border-color: var(--primary);
    }
  }
  &.btn-sm {
    font-size: 0.8rem !important;
    padding: 0.3rem 1.5rem !important;
  }
  &.btn-md {
    font-size: 1rem !important;
    padding: 0.3rem 1.6rem !important;
  }
  &.btn-lg {
    font-size: 1.2rem !important;
    padding: 0.3rem 1.7rem !important;
  }
  @media screen and (min-width: 768px) {
    &:hover {
      // opacity: 0.9;
      &::before {
        transform: scale(1.1, 1.3);
      }
    }
  }
}
.main-logo {
  &.logo-purple {
    background: var(--primary);
    color: var(--white);
  }
  &.logo-white {
    background: var(--white);
    color: var(--primary);
  }
  height: 38px;
  padding: 0 0.5rem;
  border-radius: 0.2rem;
  display: inline-block;
  h2 {
    margin: 0 !important;
    line-height: 38px;
    color: inherit;
  }
}

.h-80 {
  height: 80px;
}

.red-alert {
  background: rgb(255, 233, 238);
  color: rgb(229, 0, 49);
}
