:root {
  --white: #fff;
  --light2: #f6f7fb;
  --white750: rgb(255, 255, 255, 0.75);
  --white500: rgb(255, 255, 255, 0.5);
  --white250: rgb(255, 255, 255, 0.25);
  --white100: rgb(255, 255, 255, 0.1);
  --black: rgb(32, 32, 32);
  --black100: rgba(32, 32, 32, 0.1);
  --black500: rgba(32, 32, 32, 0.5);
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  --transition: all 0.3s linear;
  --grey: #7d899b;
  --grey-5: hsl(210, 22%, 49%);
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --tab-color: #cebeef;
  --dark-gradient: linear-gradient(
    rgba(44, 9, 112, 0.7) 0%,
    rgba(44, 9, 112, 0.12) 57.41%,
    rgba(255, 61, 103, 0.05) 104.26%
  );
  --primary: rgb(93, 38, 201);
  --primarylight: rgb(125, 81, 212);
  --primarydark: rgb(11, 14, 52);
  --secondary: rgb(68, 203, 134);
  &[data-theme="light"] {
    --white2primary: #fff;
    --white2black: #fff;
    --white2primarylight: #fff;
    --primary2white: rgb(93, 38, 201);
    --primarylight2light500: rgb(125, 81, 212);
    --primarylight2white: rgb(125, 81, 212);
    --primarydark2white: rgb(11, 14, 52);
    --black2white: rgb(32, 32, 32);
    --black1002primary: rgb(32, 32, 32, 0.1);
    --softblack2white: #414a53;
    --softblack2light750: #414a53;
    --primary2black: rgb(93, 38, 201);
    --black2primary: rgb(32, 32, 32);
    --lightgrey2black: #d3d3d3;
    --light22light750: #ececec;
    --light22dark500: #ececec;
    --light22primary: #ececec;
    --lightgrey2primary: #d3d3d3;
    --secondary2black: rgb(68, 203, 134);
    --secondary2white: rgb(68, 203, 134);
    --dark250: rgb(32, 32, 32, 0.25);
    --dark7502light500: rgb(32, 32, 32, 0.75);
    --dark7502light750: rgb(32, 32, 32, 0.75);
    --dark5002light750: rgb(32, 32, 32, 0.75);
    --dark5002light500: rgb(32, 32, 32, 0.5);
    --dark2502light250: rgb(32, 32, 32, 0.25);
    --dark1002light100: rgb(32, 32, 32, 0.1);
    --dark2002light200: rgb(32, 32, 32, 0.2);
    --dark502light50: rgb(32, 32, 32, 0.05);
    --light2502dark250: rgb(255, 255, 255, 0.25);
    --dark2502white: rgb(32, 32, 32, 0.25);
    --d2l-gradient: linear-gradient(
      rgba(44, 9, 112, 0.7) 0%,
      rgba(44, 9, 112, 0.12) 57.41%,
      rgba(255, 61, 103, 0.05) 104.26%
    );
  }
  &[data-theme="dark"] {
    --white2primary: rgb(93, 38, 201);
    --white2black: rgb(32, 32, 32);
    --white2primarylight: rgb(125, 81, 212);
    --primary2white: #fff;
    --primarylight2light500: rgb(255, 255, 255, 0.5);
    --primarylight2white: rgb(255, 255, 255);
    --primarydark2white: rgb(255, 255, 255);
    --primary2black: rgb(32, 32, 32);
    --black2white: #fff;
    --black1002primary: rgb(93, 38, 201);
    --softblack2white: #fff;
    --softblack2light750: rgb(255, 255, 255, 0.75);
    --black2primary: rgb(93, 38, 201);
    --lightgrey2black: rgb(32, 32, 32);
    --light22light750: rgb(255, 255, 255, 0.75);
    --light22dark500: rgb(32, 32, 32, 5);
    --light22primary: rgb(93, 38, 201);
    --lightgrey2primary: rgb(93, 38, 201);
    --secondary2black: rgb(32, 32, 32);
    --secondary2white: #fff;
    --dark7502light500: rgb(255, 255, 255, 0.5);
    --dark7502light750: rgb(255, 255, 255, 0.75);
    --dark5002light750: rgb(255, 255, 255, 0.75);
    --dark5002light500: rgb(255, 255, 255, 0.5);
    --dark2502light250: rgb(255, 255, 255, 0.25);
    --dark1002light100: rgb(255, 255, 255, 0.1);
    --dark2002light200: rgb(255, 255, 255, 0.2);
    --dark502light50: rgb(255, 255, 255, 0.05);
    --light2502dark250: rgb(32, 32, 32, 0.25);
    --dark2502white: #fff;
    --d2l-gradient: linear-gradient(
      rgb(93, 38, 201),
      rgb(125, 81, 212),
      rgba(255, 61, 103, 0.05) 104.26%
    );
  }
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, */
  /* Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  background: var(--primary2black) !important;
  line-height: 1.5;
  font-size: 0.875rem;
  transition: all 0.2s linear;
  &::-webkit-scrollbar {
    display: none;
  }
  &.hideMainNav{
    nav{
      display: none !important;
    }
  }
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none !important;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

// classes

.color-primary {
  color: var(--primary) !important;
}

.btn {
  border-radius: var(--radius) !important;
  color: var(--white) !important;
  text-transform: capitalize;
  position: relative;
  box-shadow: none !important;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid;
    border-radius: var(--radius);
    transition: all 0.2s linear;
  }
  &.btn-transparent {
    background: none !important;
    color: var(--black) !important;
    &.b2w {
      color: var(--black2white) !important;
    }
    &:before {
      border-color: transparent;
    }
  }
  &.btn-green {
    background: var(--secondary) !important;
    &::before {
      border-color: var(--secondary);
    }
  }
  &.btn-black {
    background: var(--black) !important;
    &::before {
      border-color: var(--black);
    }
  }
  &.btn-purple {
    background: var(--primary) !important;
    &::before {
      border-color: var(--primary);
    }
  }
  &.btn-sm {
    font-size: 0.8rem !important;
    padding: 0.3rem 1.5rem !important;
  }
  &.btn-md {
    font-size: 1rem !important;
    padding: 0.3rem 1.6rem !important;
  }
  &.btn-lg {
    font-size: 1.2rem !important;
    padding: 0.3rem 1.7rem !important;
  }
  @media screen and (min-width: 768px) {
    &:hover {
      // opacity: 0.9;
      &::before {
        width: calc(100% + 10px);
        height: calc(100% + 10px);
      }
    }
  }
}
.main-logo {
  &.logo-purple {
    background: var(--primary);
    color: var(--white);
  }
  &.logo-white {
    background: var(--white);
    color: var(--primary2black);
  }
  height: 38px;
  padding: 0 0.5rem;
  border-radius: 0.2rem;
  display: inline-block;
  h2 {
    margin: 0 !important;
    line-height: 38px;
    color: inherit;
  }
}

.h-80 {
  height: 80px;
}
.max-w-520 {
  max-width: 520px !important;
}
.max-w-1068 {
  max-width: 1068px !important;
}
.red-alert {
  background: rgb(255, 233, 238);
  color: rgb(229, 0, 49);
}

.header.common {
  background: var(--white2primary);
  .main-logo {
    background: var(--primary2white) !important;
    color: var(--white2primary) !important;
  }
  .header-inner {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    a {
      color: var(--primary2white);
      text-transform: capitalize;
    }
  }
}
.headingCopy {
  position: relative;
  svg {
    opacity: 0;
    position: absolute;
    transform: translate(-70%, 35%);

    z-index: 1000;
    transition: all 0.2s linear;
  }
  &:hover {
    svg {
      transform: translate(0, 35%);
      opacity: 1;
    }
  }
  @media screen and (max-width: 768px) {
    svg {
      display: none;
    }
  }
}

.InDev {
  text-align: center;
  color: var(--white);
  &.b2w {
    color: var(--black2white);
    &::before {
      border-color: var(--black2white);
    }
  }
  margin: 3rem auto;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-bottom: 2px solid var(--white);
    left: 0;
    transform: scale(0.5, 1);
    bottom: -8px;
    animation: inDev forwards 2s infinite;
    @keyframes inDev {
      0% {
        transform: scale(0.2, 1);
      }
      50% {
        transform: scale(0.5, 1);
      }
      100% {
        transform: scale(0.2, 1);
      }
    }
  }
}
.body-white {
  background: var(--white2black) !important;
  nav {
    border-bottom: 1px solid var(--dark2002light200);
    color: var(--primary2white);
    .main-logo {
      background: var(--primary2white);
      color: var(--white2black);
    }
    svg {
      color: var(--primary2white) !important;
    }
  }
  .insurance-main {
    border-color: var(--dark2002light200);
  }
  .main-left.health-ins {
    align-items: flex-start;
    text-align: left !important;

    .insuranceTitle-main {
      color: var(--softblack2white) !important;
      font-size: 2rem;
      line-height: 2.2rem;
      text-align: left !important;
      @media screen and (max-width: 500px) {
        font-size: 1.5rem;
        line-height: 1.7rem;
      }
    }
    .insuranceTitle-secondary {
      color: var(--dark7502light750);
    }
  }
}
.customBreadCrumb {
  // padding: 0 1.25rem;
  p {
    color: var(--dark5002light500) !important;
    font-size: 0.75rem;
    font-weight: 500;
    margin-bottom: 1.875rem;
    a {
      color: var(--dark5002light500) !important;
    }
  }
}
.article-date {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  p {
    font-size: 12px;
    line-height: 12px;
    color: var(--dark7502light750);
    margin: 0;
  }
  .dot {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: var(--dark7502light750);
    margin: 0 0.5rem;
  }
}
